.total-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align to top */
  padding-top: 50px;
}

.total-card {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.total-card mat-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.total-amount {
  font-size: 3.5rem;
  font-weight: 300;
  color: var(--primary-color);
  margin: 20px 0;
}

/* Styles for the admin form */
form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between form elements */
  margin-top: 20px;
}

.response-message {
  margin-top: 20px;
  font-size: 1.1rem;
}