
<div class="container">
  <!-- Show the Admin/Weekly View -->
  <ng-container *ngIf="viewType === 'weekly' && (fullMenu$ | async) as fullMenu">
    <div class="header-container">
      <mat-icon>restaurant_menu</mat-icon>
      <h2>Full Weekly Menu</h2>
    </div>
    <div class="admin-menu-grid">
      <mat-card *ngFor="let dayMenu of fullMenu">
        <mat-card-header>
          <mat-card-title>{{ dayMenu.day }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Breakfast: {{ dayMenu.breakfast.name }}</mat-panel-title>
              </mat-expansion-panel-header>
              <p class="side-dishes">{{ dayMenu.breakfast.description }}</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Lunch: {{ dayMenu.lunch.name }}</mat-panel-title>
              </mat-expansion-panel-header>
              <p class="side-dishes">{{ dayMenu.lunch.description }}</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Dinner: {{ dayMenu.dinner.name }}</mat-panel-title>
              </mat-expansion-panel-header>
              <p class="side-dishes">{{ dayMenu.dinner.description }}</p>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>

  <!-- Show the Student/Upcoming View -->
  <ng-container *ngIf="viewType === 'upcoming' && (upcomingMeals$ | async) as upcomingMeals">
    <div class="header-container">
      <mat-icon>update</mat-icon>
      <h2>Upcoming Meals</h2>
    </div>
    <div class="student-menu-grid">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let item of upcomingMeals" class="upcoming-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ item.mealType }}: {{ item.meal.name }}</mat-panel-title>
          </mat-expansion-panel-header>
          <p class="side-dishes">{{ item.meal.description }}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </ng-container>
</div>